h1 {
  /* font-size: 40px; */
  /* background-color: gold; */
}

body {
  /* font-family: arial, helvetica, sans-serif; */
  font-size: 15px;
  line-height: 1.5;
  font: 15px/1.5 Arial, hevetical, sans-serif;
  padding: 0;
  margin: 100;
  background-color: #f4f4f4;
  background-image: url('images/we.jpg');
}