body {
  background-color: lightblue;
}

.container {
  background-color: #42e2f4;
}

header {
  /* background-image: url('../images/we.jpg'); */
  /* background-color:yellow; */
  background: lightblue;
  color: black;
  padding: 16px;
  margin-bottom: 10px;
  display: flex;
  height: 75px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: yelllow;
  font-style: italic;
  padding: 28px;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-links li {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navigation-links li a {
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}

main {
  height: 700px;
}

.awesomeFooter {
  background-color: yellow;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 50px;
}

.awesomeFooter a {
  text-decoration: none;
}

.fa {
  font-size: 35px;
}

.fa-twitter {
  color: #4286f4;
}

.fa-facebook {
  color: #1c36cc;
}

.fa-instagram {
  color: #cc1b5c;
}

.fa-youtube {
  color: #cc1a32;
}