  body .page-wrapper {
    background-color: #42e2f4;
    margin: 20px;
    padding: 20px;
  }
  }

  header {
    /* background-image: url('../images/we.jpg'); */
    /* background-color:yellow; */
    background: lightblue;
    color: black;
    padding: 16px;
    margin-bottom: 10px;
    display: flex;
    height: 75px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: yelllow;
    font-style: italic;
    padding: 28px;
  }

  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navigation-links li {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .navigation-links li a {
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
  }

  main {
    height: 700px;
  }

  footer {
    background-color: yellow;
    width: 100%;
  }

  footer a.fa {
    font-size: 35px;
  }

  a.fa-twitter {
    color: #4286f4;
  }

  a.fa-facebook {
    color: #1c36cc;
  }

  a.fa-instagram {
    color: #cc1b5c;
  }

  a.fa-youtube {
    color: #cc1a32;
  }