 h1 {
  font-size: 48px;
  text-align:center;
  color:blue;

nav {
  background-color:yellow;
      font-style:italic;
      padding: 15px;
      color:absolute;
    }


footer {
  background-color:yellow;
    position:absolute;
    bottom:0;
    width:100vw;
}
.test {
  font-size: 48px;
  color: blue;
}

.container {
  width: 80%;
  margin: auto;
}

.service-header{
  text-align: center;
  font-size: 48px;
}
