 h1 {
  font-size: 48px;
  text-align:center;
  color: blue;
}


body {
  font-family: arial,helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  font: 15px/1.5 Arial,hevetical,sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  box-sizing: border-box;

}
nav {background-color:yellow;
      font-style:italic;
      color:absolute;


footer {
  background-color:yellow;
    position:absolute;
    bottom:0;
    width:100vw;
}
.test {
  font-size: 48px;
  color: blue;
}

.container {
  width: 80%;
  margin: auto;
}

.service-header{
  text-align: center;
  font-size: 48px;
}
