
p {
 font-size: 45px;
 text-align:center;

 color:blue;
}

  footer{
  background-color:yellow;
  position:absolute;
  bottom:0;
  width:100vw;
}

body {

 font-size: 15px;
 line-height: 1.5;
 padding: 2;
 margin: 0;
 background-color: #42e2f4;
