
1 {
 font-size: 40px;
 background-color: gold;
 color: blue
}


body {
 
 font-size: 15px;
 line-height: 1.5;
 font: 15px/1.5 Arial,hevetical,sans-serif;
 padding: 0;
 margin: 0;
 background-color: #f4f4f4;

}
.test {
 font-size: 48px;
 color: blue;
}

.container {
 width: 80%;
 margin: auto;
}

.service-header{
 text-align: center;
 font-size: 48px;
